.clockBlock {
  font-size: 2em;
  margin-bottom: 1em;
}

.buttonBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 560px) {
  .clockBlock {
    font-size: 3em;
  }
}




